<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>常用工具</title>
</head>
<style>
    .t_now div {
        margin-left: 60px;
        align: center;
    }

    .t_now > div > input {
        width: 20%;
        height: 18px
    }

    .time_convert div {
        margin-left: 60px;
    }

    .time_convert > div > input {
        width: 20%;
        height: 18px
    }

    .md5_convert div {
        margin-left: 60px;
    }

    .sha1_convert div {
        margin-left: 60px;
    }

    .base64_convert div {
        margin-left: 60px;
    }

    .url_convert div {
        margin-left: 60px;
    }

</style>
<body bgcolor="#f0f8ff">
<h1></h1>

<div class="out1" style="border-top: 50px">
    <div class="t_now">
        <div>
            <input type="text" id="now_time">
            <button onclick="copyText('time_biaozhun')">复制</button>
            <input type="text" id="f_timestamp">
            <button onclick="copyText('time_timestamp')">复制</button>
        </div>
    </div>
    <div class="time_convert">
        <div>
            <input type="text" class="text" id="js_time1" placeholder="请输入时间戳或标准时间">
            <button id="js_convert_timestamp" type="button" onclick="time_convert_each()">转换 <i
                    class="fas fa-angle-double-right"></i></button>
            <input type="text" class="copy" id="js_time2">
            <button onclick="copyText('time_convert')">复制</button>
        </div>

    </div>
    <div class="md5_convert">
        <div>
            <textarea type="text" class="text" id="md5_raw" placeholder="输入待加密为md5的字符串"
                      style="height: 80px;width:50%"></textarea><br>
            <button type="button" onclick="generate_md5()">md5加密 <i class="fas fa-angle-double-right"></i></button>
            <input type="text" class="copy" id="md5_result" style="height: 16px;width:18%">
            <button onclick="copyText('md5_convert')">复制</button>
        </div>
    </div>
    <div class="sha1_convert">
        <div>
            <textarea type="text" class="text" id="sha1_raw" placeholder="输入待加密为sha1的字符串"
                      style="height: 80px;width:50%"></textarea><br>
            <button type="button" onclick="generate_sha1()">sha1加密 <i class="fas fa-angle-double-right"></i></button>
            <input type="text" class="copy" id="sha1_result" style="height: 16px;width:18%">
            <button onclick="copyText('sha1_convert')">复制</button>
        </div>
    </div>
    <div class="base64_convert">
        <div>
            <textarea type="text" class="text" id="base64_raw" placeholder="输入待base64编码或解码的字符串"
                      style="height: 100px;width:50%;wrap-option: physical"></textarea><br>
            <button type="button" onclick="base64_encrypt()">base64编码 <i class="fas fa-angle-double-right"></i></button>
            <button type="button" onclick="base64_decrypt()">base64解码 <i class="fas fa-angle-double-right"></i></button>
            <button onclick="copyText('base64_convert')">复制</button>
            <br>
            <textarea type="text" class="copy" id="base64_result"
                      style="height: 100px;width:50%;wrap-option: physical"></textarea>
        </div>
    </div>
    <div class="url_convert">
        <div>
            <textarea type="text" class="text" id="url_raw" placeholder="输入待编码或解码的url"
                      style="height: 100px;width:50%;wrap-option: physical"></textarea><br>
            <button type="button" onclick="url_encode()">URL编码 <i class="fas fa-angle-double-right"></i></button>
            <button type="button" onclick="url_decode()">URL解码 <i class="fas fa-angle-double-right"></i></button>
            <button onclick="copyText('url_convert')">复制</button>
            <br>
            <textarea type="text" class="copy" id="url_result"
                      style="height: 100px;width:50%;wrap-option: physical"></textarea>
        </div>
    </div>

</div>
<div class="x-nav" align="center" style="font-size: 12px">
    <div class="yejiao">
        Copyright © 2017 - 2020 版权所有,若要拷贝请注明出处 <a href="http://www.baidu.com" target="_blank">访问官网</a>
    </div>
</div>
</body>

<script>
    function getNowFormatDate() {
        //获取当前标准时间
        var date = new Date();
        console.log(date);
        var YY = date.getFullYear() + '-';
        var MM = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
        var DD = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate());
        var hh = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
        var mm = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
        var ss = (date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds());
        document.getElementById('now_time').value = YY + MM + DD + " " + hh + mm + ss;
    }

    setInterval(getNowFormatDate, 1000);

    function f_timestamp() {
        //获取当前时间戳
        var tmp = Date.parse(new Date()).toString();
        tmp = tmp.substr(0, 10);
        document.getElementById('f_timestamp').value = tmp;
        // document.getElementById('f_timestamp').innerText = tmp;
        // document.getElementById('f_timestamp').innerHTML = tmp;
    }

    setInterval(f_timestamp, 1000);

    //标准时间与时间戳之间转换
    function time_convert_each() {
        var js_timestamp = document.getElementById('js_time1').value;
        var stamp_length = js_timestamp.toString().length;
        if (19 === stamp_length) { //19位标准时间
            console.log(111111)
            _date_convert_timestamp(js_timestamp)
        } else if (10 === stamp_length) {
            var timestamp = js_timestamp * 1000; //手动转为13位时间戳
            _timestamp_convert_date(timestamp)
        } else if (13 === stamp_length) {
            var timestamp = js_timestamp; //13位时间戳
            _timestamp_convert_date(timestamp)
        } else {
            console.log(2222)
            alert("输入有误，请重新输入");
            return;
        }
        //①var user_id = document.getElementById('user_id').value;
        //②var user_id = $('#user_id').val();
        function _timestamp_convert_date(timestamp) {
            // 时间戳转标准时间
            var date = new Date(parseInt(timestamp));
            console.log(date);
            var YY = date.getFullYear() + '-';
            var MM = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
            var DD = (date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate());
            var hh = (date.getHours() < 10 ? '0' + date.getHours() : date.getHours()) + ':';
            var mm = (date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()) + ':';
            var ss = (date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds());
            // document.getElementById('js_datetime').innerHTML = YY + MM + DD + " " + hh + mm + ss; //将结果显示到span标签
            document.getElementById("js_time2").value = YY + MM + DD + " " + hh + mm + ss; //将结果显示到文本框
            return YY + MM + DD + " " + hh + mm + ss;
        }

        // 标准时间转时间戳
        function _date_convert_timestamp(js_date) {
            var T = new Date(js_date);
            document.getElementById("js_time2").value = T.getTime() / 1000;
            return T.getTime() / 1000;
        }
    }


    //1.base64加密
    function base64_encrypt() {
        var base64_raw_str = document.getElementById('base64_raw').value;
        var base = new Base64();
        document.getElementById("base64_result").value = base.encode(base64_raw_str);
    }

    //2.base64解密
    function base64_decrypt() {
        var base64_raw_str = document.getElementById('base64_raw').value;
        var base = new Base64();
        document.getElementById("base64_result").value = base.decode(base64_raw_str);

    }

    function Base64() {
        _keyStr = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
        // public method for encoding
        this.encode = function (input) {
            var output = "";
            var chr1, chr2, chr3, enc1, enc2, enc3, enc4;
            var i = 0;
            input = _utf8_encode(input);
            while (i < input.length) {
                chr1 = input.charCodeAt(i++);
                chr2 = input.charCodeAt(i++);
                chr3 = input.charCodeAt(i++);
                enc1 = chr1 >> 2;
                enc2 = ((chr1 & 3) << 4) | (chr2 >> 4);
                enc3 = ((chr2 & 15) << 2) | (chr3 >> 6);
                enc4 = chr3 & 63;
                if (isNaN(chr2)) {
                    enc3 = enc4 = 64;
                } else if (isNaN(chr3)) {
                    enc4 = 64;
                }
                output = output +
                    _keyStr.charAt(enc1) + _keyStr.charAt(enc2) +
                    _keyStr.charAt(enc3) + _keyStr.charAt(enc4);
            }
            return output;
        };
        // public method for decoding
        this.decode = function (input) {
            var output = "";
            var chr1, chr2, chr3;
            var enc1, enc2, enc3, enc4;
            var i = 0;
            input = input.replace(/[^A-Za-z0-9\+\/\=]/g, "");
            while (i < input.length) {
                enc1 = _keyStr.indexOf(input.charAt(i++));
                enc2 = _keyStr.indexOf(input.charAt(i++));
                enc3 = _keyStr.indexOf(input.charAt(i++));
                enc4 = _keyStr.indexOf(input.charAt(i++));
                chr1 = (enc1 << 2) | (enc2 >> 4);
                chr2 = ((enc2 & 15) << 4) | (enc3 >> 2);
                chr3 = ((enc3 & 3) << 6) | enc4;
                output = output + String.fromCharCode(chr1);
                if (enc3 != 64) {
                    output = output + String.fromCharCode(chr2);
                }
                if (enc4 != 64) {
                    output = output + String.fromCharCode(chr3);
                }
            }
            output = _utf8_decode(output);
            return output;
        };
        // private method for UTF-8 encoding
        _utf8_encode = function (string) {
            string = string.replace(/\r\n/g, "\n");
            var utftext = "";
            for (var n = 0; n < string.length; n++) {
                var c = string.charCodeAt(n);
                if (c < 128) {
                    utftext += String.fromCharCode(c);
                } else if ((c > 127) && (c < 2048)) {
                    utftext += String.fromCharCode((c >> 6) | 192);
                    utftext += String.fromCharCode((c & 63) | 128);
                } else {
                    utftext += String.fromCharCode((c >> 12) | 224);
                    utftext += String.fromCharCode(((c >> 6) & 63) | 128);
                    utftext += String.fromCharCode((c & 63) | 128);
                }

            }
            return utftext;
        };
        // private method for UTF-8 decoding
        _utf8_decode = function (utftext) {
            var string = "";
            var i = 0;
            var c = c1 = c2 = 0;
            while (i < utftext.length) {
                c = utftext.charCodeAt(i);
                if (c < 128) {
                    string += String.fromCharCode(c);
                    i++;
                } else if ((c > 191) && (c < 224)) {
                    c2 = utftext.charCodeAt(i + 1);
                    string += String.fromCharCode(((c & 31) << 6) | (c2 & 63));
                    i += 2;
                } else {
                    c2 = utftext.charCodeAt(i + 1);
                    c3 = utftext.charCodeAt(i + 2);
                    string += String.fromCharCode(((c & 15) << 12) | ((c2 & 63) << 6) | (c3 & 63));
                    i += 3;
                }
            }
            return string;
        }
    }

    //url编码
    function url_encode() {
        var url_raw_str = document.getElementById('url_raw').value;
        document.getElementById("url_result").value = encodeURI(url_raw_str);
    }

    //2.url解码
    function url_decode() {
        var url_result_str = document.getElementById('url_raw').value;
        document.getElementById("url_result").value = decodeURIComponent(url_result_str);
    }

    //1.md5加密
    function generate_md5() {
        var md5_str = document.getElementById('md5_raw').value;
        document.getElementById("md5_result").value = md5(md5_str);
    }

    (function ($) {
        'use strict';

        /*
        * Add integers, wrapping at 2^32. This uses 16-bit operations internally
        * to work around bugs in some JS interpreters.
        */
        function safeAdd(x, y) {
            var lsw = (x & 0xffff) + (y & 0xffff)
            var msw = (x >> 16) + (y >> 16) + (lsw >> 16)
            return (msw << 16) | (lsw & 0xffff)
        }

        /*
        * Bitwise rotate a 32-bit number to the left.
        */
        function bitRotateLeft(num, cnt) {
            return (num << cnt) | (num >>> (32 - cnt))
        }

        /*
        * These functions implement the four basic operations the algorithm uses.
        */
        function md5cmn(q, a, b, x, s, t) {
            return safeAdd(bitRotateLeft(safeAdd(safeAdd(a, q), safeAdd(x, t)), s), b)
        }

        function md5ff(a, b, c, d, x, s, t) {
            return md5cmn((b & c) | (~b & d), a, b, x, s, t)
        }

        function md5gg(a, b, c, d, x, s, t) {
            return md5cmn((b & d) | (c & ~d), a, b, x, s, t)
        }

        function md5hh(a, b, c, d, x, s, t) {
            return md5cmn(b ^ c ^ d, a, b, x, s, t)
        }

        function md5ii(a, b, c, d, x, s, t) {
            return md5cmn(c ^ (b | ~d), a, b, x, s, t)
        }

        /*
        * Calculate the MD5 of an array of little-endian words, and a bit length.
        */
        function binlMD5(x, len) {
            /* append padding */
            x[len >> 5] |= 0x80 << (len % 32)
            x[((len + 64) >>> 9 << 4) + 14] = len

            var i
            var olda
            var oldb
            var oldc
            var oldd
            var a = 1732584193
            var b = -271733879
            var c = -1732584194
            var d = 271733878

            for (i = 0; i < x.length; i += 16) {
                olda = a
                oldb = b
                oldc = c
                oldd = d

                a = md5ff(a, b, c, d, x[i], 7, -680876936)
                d = md5ff(d, a, b, c, x[i + 1], 12, -389564586)
                c = md5ff(c, d, a, b, x[i + 2], 17, 606105819)
                b = md5ff(b, c, d, a, x[i + 3], 22, -1044525330)
                a = md5ff(a, b, c, d, x[i + 4], 7, -176418897)
                d = md5ff(d, a, b, c, x[i + 5], 12, 1200080426)
                c = md5ff(c, d, a, b, x[i + 6], 17, -1473231341)
                b = md5ff(b, c, d, a, x[i + 7], 22, -45705983)
                a = md5ff(a, b, c, d, x[i + 8], 7, 1770035416)
                d = md5ff(d, a, b, c, x[i + 9], 12, -1958414417)
                c = md5ff(c, d, a, b, x[i + 10], 17, -42063)
                b = md5ff(b, c, d, a, x[i + 11], 22, -1990404162)
                a = md5ff(a, b, c, d, x[i + 12], 7, 1804603682)
                d = md5ff(d, a, b, c, x[i + 13], 12, -40341101)
                c = md5ff(c, d, a, b, x[i + 14], 17, -1502002290)
                b = md5ff(b, c, d, a, x[i + 15], 22, 1236535329)

                a = md5gg(a, b, c, d, x[i + 1], 5, -165796510)
                d = md5gg(d, a, b, c, x[i + 6], 9, -1069501632)
                c = md5gg(c, d, a, b, x[i + 11], 14, 643717713)
                b = md5gg(b, c, d, a, x[i], 20, -373897302)
                a = md5gg(a, b, c, d, x[i + 5], 5, -701558691)
                d = md5gg(d, a, b, c, x[i + 10], 9, 38016083)
                c = md5gg(c, d, a, b, x[i + 15], 14, -660478335)
                b = md5gg(b, c, d, a, x[i + 4], 20, -405537848)
                a = md5gg(a, b, c, d, x[i + 9], 5, 568446438)
                d = md5gg(d, a, b, c, x[i + 14], 9, -1019803690)
                c = md5gg(c, d, a, b, x[i + 3], 14, -187363961)
                b = md5gg(b, c, d, a, x[i + 8], 20, 1163531501)
                a = md5gg(a, b, c, d, x[i + 13], 5, -1444681467)
                d = md5gg(d, a, b, c, x[i + 2], 9, -51403784)
                c = md5gg(c, d, a, b, x[i + 7], 14, 1735328473)
                b = md5gg(b, c, d, a, x[i + 12], 20, -1926607734)

                a = md5hh(a, b, c, d, x[i + 5], 4, -378558)
                d = md5hh(d, a, b, c, x[i + 8], 11, -2022574463)
                c = md5hh(c, d, a, b, x[i + 11], 16, 1839030562)
                b = md5hh(b, c, d, a, x[i + 14], 23, -35309556)
                a = md5hh(a, b, c, d, x[i + 1], 4, -1530992060)
                d = md5hh(d, a, b, c, x[i + 4], 11, 1272893353)
                c = md5hh(c, d, a, b, x[i + 7], 16, -155497632)
                b = md5hh(b, c, d, a, x[i + 10], 23, -1094730640)
                a = md5hh(a, b, c, d, x[i + 13], 4, 681279174)
                d = md5hh(d, a, b, c, x[i], 11, -358537222)
                c = md5hh(c, d, a, b, x[i + 3], 16, -722521979)
                b = md5hh(b, c, d, a, x[i + 6], 23, 76029189)
                a = md5hh(a, b, c, d, x[i + 9], 4, -640364487)
                d = md5hh(d, a, b, c, x[i + 12], 11, -421815835)
                c = md5hh(c, d, a, b, x[i + 15], 16, 530742520)
                b = md5hh(b, c, d, a, x[i + 2], 23, -995338651)

                a = md5ii(a, b, c, d, x[i], 6, -198630844)
                d = md5ii(d, a, b, c, x[i + 7], 10, 1126891415)
                c = md5ii(c, d, a, b, x[i + 14], 15, -1416354905)
                b = md5ii(b, c, d, a, x[i + 5], 21, -57434055)
                a = md5ii(a, b, c, d, x[i + 12], 6, 1700485571)
                d = md5ii(d, a, b, c, x[i + 3], 10, -1894986606)
                c = md5ii(c, d, a, b, x[i + 10], 15, -1051523)
                b = md5ii(b, c, d, a, x[i + 1], 21, -2054922799)
                a = md5ii(a, b, c, d, x[i + 8], 6, 1873313359)
                d = md5ii(d, a, b, c, x[i + 15], 10, -30611744)
                c = md5ii(c, d, a, b, x[i + 6], 15, -1560198380)
                b = md5ii(b, c, d, a, x[i + 13], 21, 1309151649)
                a = md5ii(a, b, c, d, x[i + 4], 6, -145523070)
                d = md5ii(d, a, b, c, x[i + 11], 10, -1120210379)
                c = md5ii(c, d, a, b, x[i + 2], 15, 718787259)
                b = md5ii(b, c, d, a, x[i + 9], 21, -343485551)

                a = safeAdd(a, olda)
                b = safeAdd(b, oldb)
                c = safeAdd(c, oldc)
                d = safeAdd(d, oldd)
            }
            return [a, b, c, d]
        }

        /*
        * Convert an array of little-endian words to a string
        */
        function binl2rstr(input) {
            var i
            var output = ''
            var length32 = input.length * 32
            for (i = 0; i < length32; i += 8) {
                output += String.fromCharCode((input[i >> 5] >>> (i % 32)) & 0xff)
            }
            return output
        }

        /*
        * Convert a raw string to an array of little-endian words
        * Characters >255 have their high-byte silently ignored.
        */
        function rstr2binl(input) {
            var i
            var output = []
            output[(input.length >> 2) - 1] = undefined
            for (i = 0; i < output.length; i += 1) {
                output[i] = 0
            }
            var length8 = input.length * 8
            for (i = 0; i < length8; i += 8) {
                output[i >> 5] |= (input.charCodeAt(i / 8) & 0xff) << (i % 32)
            }
            return output
        }

        /*
        * Calculate the MD5 of a raw string
        */
        function rstrMD5(s) {
            return binl2rstr(binlMD5(rstr2binl(s), s.length * 8))
        }

        /*
        * Calculate the HMAC-MD5, of a key and some data (raw strings)
        */
        function rstrHMACMD5(key, data) {
            var i
            var bkey = rstr2binl(key)
            var ipad = []
            var opad = []
            var hash
            ipad[15] = opad[15] = undefined
            if (bkey.length > 16) {
                bkey = binlMD5(bkey, key.length * 8)
            }
            for (i = 0; i < 16; i += 1) {
                ipad[i] = bkey[i] ^ 0x36363636
                opad[i] = bkey[i] ^ 0x5c5c5c5c
            }
            hash = binlMD5(ipad.concat(rstr2binl(data)), 512 + data.length * 8)
            return binl2rstr(binlMD5(opad.concat(hash), 512 + 128))
        }

        /*
        * Convert a raw string to a hex string
        */
        function rstr2hex(input) {
            var hexTab = '0123456789abcdef'
            var output = ''
            var x
            var i
            for (i = 0; i < input.length; i += 1) {
                x = input.charCodeAt(i)
                output += hexTab.charAt((x >>> 4) & 0x0f) + hexTab.charAt(x & 0x0f)
            }
            return output
        }

        /*
        * Encode a string as utf-8
        */
        function str2rstrUTF8(input) {
            return unescape(encodeURIComponent(input))
        }

        /*
        * Take string arguments and return either raw or hex encoded strings
        */
        function rawMD5(s) {
            return rstrMD5(str2rstrUTF8(s))
        }

        function hexMD5(s) {
            return rstr2hex(rawMD5(s))
        }

        function rawHMACMD5(k, d) {
            return rstrHMACMD5(str2rstrUTF8(k), str2rstrUTF8(d))
        }

        function hexHMACMD5(k, d) {
            return rstr2hex(rawHMACMD5(k, d))
        }

        function md5(string, key, raw) {
            if (!key) {
                if (!raw) {
                    return hexMD5(string)
                }
                return rawMD5(string)
            }
            if (!raw) {
                return hexHMACMD5(key, string)
            }
            return rawHMACMD5(key, string)
        }

        if (typeof define === 'function' && define.amd) {
            define(function () {
                return md5
            })
        } else if (typeof module === 'object' && module.exports) {
            module.exports = md5
        } else {
            $.md5 = md5
        }
    })(this)

    //2.sha1加密
    function generate_sha1() {
        var sha1_str = document.getElementById('sha1_raw').value;
        document.getElementById("sha1_result").value = sha1(sha1_str);
    }

    function encodeUTF8(s) {
        var i, r = [], c, x;
        for (i = 0; i < s.length; i++)
            if ((c = s.charCodeAt(i)) < 0x80) r.push(c);
            else if (c < 0x800) r.push(0xC0 + (c >> 6 & 0x1F), 0x80 + (c & 0x3F));
            else {
                if ((x = c ^ 0xD800) >> 10 == 0) //对四字节UTF-16转换为Unicode
                    c = (x << 10) + (s.charCodeAt(++i) ^ 0xDC00) + 0x10000,
                        r.push(0xF0 + (c >> 18 & 0x7), 0x80 + (c >> 12 & 0x3F));
                else r.push(0xE0 + (c >> 12 & 0xF));
                r.push(0x80 + (c >> 6 & 0x3F), 0x80 + (c & 0x3F));
            }
        ;
        return r;
    }

    // 字符串加密成 hex 字符串
    function sha1(s) {
        var data = new Uint8Array(encodeUTF8(s))
        var i, j, t;
        var l = ((data.length + 8) >>> 6 << 4) + 16, s = new Uint8Array(l << 2);
        s.set(new Uint8Array(data.buffer)), s = new Uint32Array(s.buffer);
        for (t = new DataView(s.buffer), i = 0; i < l; i++) s[i] = t.getUint32(i << 2);
        s[data.length >> 2] |= 0x80 << (24 - (data.length & 3) * 8);
        s[l - 1] = data.length << 3;
        var w = [], f = [
                function () {
                    return m[1] & m[2] | ~m[1] & m[3];
                },
                function () {
                    return m[1] ^ m[2] ^ m[3];
                },
                function () {
                    return m[1] & m[2] | m[1] & m[3] | m[2] & m[3];
                },
                function () {
                    return m[1] ^ m[2] ^ m[3];
                }
            ], rol = function (n, c) {
                return n << c | n >>> (32 - c);
            },
            k = [1518500249, 1859775393, -1894007588, -899497514],
            m = [1732584193, -271733879, null, null, -1009589776];
        m[2] = ~m[0], m[3] = ~m[1];
        for (i = 0; i < s.length; i += 16) {
            var o = m.slice(0);
            for (j = 0; j < 80; j++)
                w[j] = j < 16 ? s[i + j] : rol(w[j - 3] ^ w[j - 8] ^ w[j - 14] ^ w[j - 16], 1),
                    t = rol(m[0], 5) + f[j / 20 | 0]() + m[4] + w[j] + k[j / 20 | 0] | 0,
                    m[1] = rol(m[1], 30), m.pop(), m.unshift(t);
            for (j = 0; j < 5; j++) m[j] = m[j] + o[j] | 0;
        }
        ;
        t = new DataView(new Uint32Array(m).buffer);
        for (var i = 0; i < 5; i++) m[i] = t.getUint32(i << 2);

        var hex = Array.prototype.map.call(new Uint8Array(new Uint32Array(m).buffer), function (e) {
            return (e < 16 ? "0" : "") + e.toString(16);
        }).join("");
        return hex;
    }

    //复制功能
    function copyText(value) {
        console.log(value);
        if ("time_biaozhun" === value) {
            var input = document.getElementById("now_time");
        } else if ("time_timestamp" === value) {
            var input = document.getElementById("f_timestamp");
        } else if ("time_convert" === value) {
            var input = document.getElementById("js_time2");
        } else if ("md5_convert" === value) {
            var input = document.getElementById("md5_result");
        } else if ("sha1_convert" === value) {
            var input = document.getElementById("sha1_result");
        } else if ("base64_convert" === value) {
            var input = document.getElementById("base64_result");
        } else if ("url_convert" === value) {
            var input = document.getElementById("url_result");
        } else {
        }
        input.select(); // 选中文本
        document.execCommand("copy"); // 执行浏览器复制命令
    }
</script>
</html>